http://pihole.{$HOME_DOMAIN} {
    reverse_proxy pihole:80
    encode zstd gzip
}

http://homeassistant.{$HOME_DOMAIN} {
    reverse_proxy homeassistant:8123
}

http://plex.{$HOME_DOMAIN} {
    encode gzip zstd
    reverse_proxy 192.168.0.200:32400
}

http://jellyfin.{$HOME_DOMAIN} {
    reverse_proxy jellyfin:8096
}

http://qbit.{$HOME_DOMAIN} {
    reverse_proxy gluetun:8080
}

http://portainer.{$HOME_DOMAIN} {
    reverse_proxy portainer:9000
}

http://influxdb.{$HOME_DOMAIN} {
    reverse_proxy influxdb:8086
}

http://grafana.{$HOME_DOMAIN} {
    reverse_proxy grafana:3000
}

http://ihatemoney.{$HOME_DOMAIN} {
    reverse_proxy ihatemoney:8000
}

actual.{$HOME_DOMAIN} {
    reverse_proxy actual:5006 
    tls internal
}
