http://pihole.{$HOME_DOMAIN} {
    reverse_proxy pihole:80
    encode zstd gzip
}

http://homeassistant.{$HOME_DOMAIN} {
    reverse_proxy homeassistant:8123
}

http://plex.{$HOME_DOMAIN} {
    encode gzip zstd
    reverse_proxy 192.168.0.200:32400 
}

http://portainer.{$HOME_DOMAIN} {
    reverse_proxy portainer:9000
}

http://influxdb.{$HOME_DOMAIN} {
    reverse_proxy influxdb:8086
}

http://grafana.{$HOME_DOMAIN} {
    reverse_proxy grafana:3000
}
